@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.animate-bounce.delay-100 {
  animation-delay: 0.1s;
}

.animate-bounce.delay-200 {
  animation-delay: 0.2s;
}
